{% load static %} {% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% bootstrap_css %} {% bootstrap_javascript %}
    <title>Cadastro</title>
</head>

<body>
    <div class="container">
        <h1>Cadastro de Aluno</h1>
        {%bootstrap_messages%}
        <a href="{% url 'home' %}">Home</a>
        <form action="{% url 'create' %}" method="POST">
            {% csrf_token %} {% bootstrap_form form %} {% buttons %}
            <button class="btn btn-primary" type="submit">Salvar</button> {% endbuttons %}
        </form>
    </div>
</body>

</html>